<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover" style="cursor: pointer;">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Date</th>
                        <th>Total amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <th>
                            <img src="{{order.imageUrl}}" alt="{{order.name}}"
                            class="img-fluid" style="max-height: 50px;">
                            {{order.name}}</th>
                        <td>{{order.price }}</td>
                        <td>{{order.quantity }}</td>
                        <td>{{order.orderDate}}</td>
                        <td>{{order.price * order.quantity}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>