<div class="container mt-5">
    <div class="row">
        <section class="col-9 mx-auto">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <div class="form-inline mt-2" *ngIf="visibleProducts">
                    <input (keyup.enter)="onSearch()" type="text" class="form-control mr-2" #search placeholder="Search">
                    <button (click)="onSearch()" class="btn btn-outline-primary my-2">Search</button>
                    <button (click)="onReset()" class="btn btn-outline-success ml-2 my-2">Reset</button>
                </div>
            </div>

            <div class="row">
                <div class="col-4 mb-4" *ngFor="let product of visibleProducts">
                    <app-product-item [product]="product"></app-product-item>
                </div>
            </div>
        </section>
    </div>
</div>