<carousel>
  <slide>
    <img
      src="assets/images/hero1.jpg"
      alt="first slide"
      style="display: block; width: 100%"
    />
  </slide>
  <slide>
    <img
      src="assets/images/hero2.jpg"
      alt="second slide"
      style="display: block; width: 100%"
    />
  </slide>
  <slide>
    <img
      src="assets/images/hero3.jpg"
      alt="third slide"
      style="display: block; width: 100%"
    />
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex align-items-center pt-4 flex-column">
    <h1 class="text-uppercase mb-4">Categories</h1>
    <div class="col-3 mb-4" *ngFor="let category of categories">
      <app-category-card [category]="category"></app-category-card>
    </div>
  </div>
</section>
